/* Стили для кнопки "Узнать больше" */
details summary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #006400;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

details summary:hover {
    background-color: #228b22;
}

/* Стили для текста внутри details */
details p {
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #555;
}